@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&family=Poppins:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', serif;
}

a {
    color: unset;
    text-decoration: none;
}

ul{
    list-style: none;
}

.hero__background{
    background-image: url(../assets/bg1.jpg);
    background-size: cover;
    background-position: center;
}

.projects__background{
    background-image: url(../assets/bg3.jpg);
    background-size: cover;
    background-position: center;
}

.footer__overlay{
    background-image: url(../assets/bg2.jpg);
    background-size: cover;
    background-position: center;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.75);
    background-size: cover;
    background-position: center;
}

.overlay2{
    background-color: rgba(0, 0, 0, 0.9);
    background-size: cover;
    background-position: center;
}

.card__background{
    background-color: rgba(151, 255, 246, 0.5);
    background-size: cover;
    background-position: center;
    border-radius: 1.2rem;
}